@model SampleASPCore.Models.Kategori;
@{
    Layout = "_Layout";
}

<h2>Form Tambah Kategori</h2>
 <a asp-action="index" class="btn btn-success">Back to List</a>
 <br><br/>
<div class="row">
@if(ViewData["pesan"]!=null){
    @Html.Raw(ViewData["pesan"])
}
<br><br/>
</div>

<div class="col-md-6">
    <form asp-action="CreatePost">
        <div asp-validation-summary="ModelOnly" class="text-danger"/>
        <div class="form-group">
            <label asp-for="KategoriID" class="control-label">ID Kategori</label>
            <input asp-for="KategoriID" type="text" class="form-control" />
            <span asp-validation-for="KategoriID" class="text-danger"/>
        </div>
        <div class="form-group">
            <label asp-for="KategoriName" class="control-label">Nama Kategori</label>
            <input asp-for="KategoriName" type="text" class="form-control" />
            <span asp-validation-for="KategoriName" class="text-danger"/>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit" class="btn-btn-primary"/>
        </div>
    
    </form>
</div>  

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}